

.avatar2{
    text-align: center !important;
    width: 50%; 
    border-radius: 50%;
    margin: auto;
}

.titulo{
    text-align: center;
    font-size: 22px;
}

.subtitulo{
    text-align: center;
}