page-produto {

}
.preco_antigo{
    font-size: 20px;
    margin: 5% auto;
    text-decoration: line-through red;
}

h1{
    display: inline-block;
}

.precos h2{
    display: inline;
}
.preco{
    font-size: 20px;
    margin: 5% auto;
}

h3{
    font-size: 18px;
}

.descricao{
    text-align: justify;
}

.button{
    
    float: right;
}

